{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers
    {% if user in car.drivers.all %}
      <a class="btn btn-danger link-to-page" style="float: right" href="{% url 'taxi:car-remove-driver' pk=car.id %}">Delete me from this car</a>
    {% else %}
      <a class="btn btn-success link-to-page" style="float: right" href="{% url 'taxi:car-assign-driver' pk=car.id %}">Assign me to this car</a>
    {% endif %}
  </h1>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
